* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 700;
}
header nav ul li a {
  padding: 10px;
  display: block;
}
header nav ul li.active {
  color: rgb(12, 124, 236);
}

.jumboWrapper {
  max-height: 500px;
  overflow: hidden;
}
.jumboWrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sectionCard {
  background-color: rgb(28, 28, 28);
  text-align: center;
}
.sectionCard .button {
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: rgb(12, 124, 236);
}
.sectionCard .button h3 {
  padding: 10px 45px;
}
.sectionCard .button h3 a {
  width: 100%;
  color: white;
}
.sectionCard .cardWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  row-gap: 10px;
}
.sectionCard .cardWrapper .seriesTag {
  position: absolute;
  background-color: rgb(12, 124, 236);
  left: 0;
  top: -25px;
}
.sectionCard .cardWrapper .seriesTag h2 {
  color: white;
  text-transform: uppercase;
  padding: 10px 45px;
}
.sectionCard .cardWrapper .card {
  width: 213px;
  padding: 10px;
}
.sectionCard .cardWrapper .card figure {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.sectionCard .cardWrapper .card figure img {
  width: 100%;
}
.sectionCard .cardWrapper .card h4 {
  color: white;
  padding-top: 10px;
}

.linkShop {
  background-color: rgb(88, 134, 205);
}
.linkShop .linkWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.linkShop .linkWrapper .cardLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.linkShop .linkWrapper .cardLink img {
  width: 50px;
}
.linkShop .linkWrapper .cardLink p {
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.sectionDetail {
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  gap: 30px;
  color: white;
  flex-wrap: wrap;
}
.sectionDetail .wrapImg {
  width: 500px;
}
.sectionDetail .wrapImg img {
  width: 100%;
  border: 2px solid #0c7cec;
  padding: 5px;
  border-radius: 10px;
}
.sectionDetail .wrapDetails {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 600px;
  align-self: center;
}
.sectionDetail .wrapDetails h1 {
  font-size: 80px;
}
.sectionDetail .wrapDetails p {
  font-size: 20px;
}
.sectionDetail .wrapDetails h3 {
  font-size: 30px;
}

#topFooter {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#topFooter footer {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}
#topFooter footer .listWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 33.3333333333%;
}
#topFooter footer .listWrapper ul {
  padding: 20px;
}
#topFooter footer .listWrapper ul h2 {
  color: white;
  padding: 10px 0;
}
#topFooter footer .listWrapper ul a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 0;
}
#topFooter footer .logo {
  position: absolute;
  right: 0;
  top: -3%;
  max-width: 560px;
}

#bottomFooter {
  background-color: rgb(28, 28, 33);
  padding: 20px 0;
}
#bottomFooter .container {
  display: flex;
  justify-content: space-between;
}
#bottomFooter .container button {
  background-color: rgb(28, 28, 33);
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-color: rgb(73, 119, 203);
}
